<h2>Train Your Agent</h2>

<h3>Upload Files</h3>

<input type="file" id="file" multiple onchange="showFileList()" />

<!-- ✅ FILE LIST DISPLAY -->
<ul id="fileList" style="
    margin-top:15px;
    padding:10px;
    background:#f5f7ff;
    border-radius:10px;
    list-style:none;
"></ul>








<!-- <h2>Train Chatbot</h2>

<h3>Upload File</h3>

<form action="/train_file" method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">Train File</button>
</form>

<br><br>

<h3>Train Using Website URL</h3>

<form action="/train_url" method="POST">
    <input type="text" name="url" placeholder="Enter website URL">
    <button type="submit">Train Website</button>
</form> -->